#OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.sw[nop]
.bundle
.env
tags
tmp/**/*

#Python Related 
__pycache__/
*.py[cod]
*.so

vim/.netrwhist
gpg-agent/*
!gpg-agent/gpg-agent.conf
